<h1>Birthday greeter</h1>
<h2>Enter your name and birthday</h2>
<form action="/greeter" method="post">
  <label for="name">
    Name
    <input type="text" name="name">
  </label>
  <label for="birthday">
    Birthday
    <input type="text" name="birthday">
  </label>
  <input type="submit" value="Submit">
</form>
